# DS_Store
.DS_Store

# .vscode
.vscode

# poetry
.python-version

# parabolic curve data
/data/simulation/*.csv
/data/processed/*.csv
/data/simulation/*.csv
/data/simulation/splits/*.csv

# pycache
__pycache__/

# trained models
*.pth

# generate summary Python script
generate_project_summary.py
*_project_summary.txt