# DS_Store
.DS_Store

# .vscode
.vscode

# poetry
.python-version

# parabolic curve data
/data/simulation/*.csv
/data/simulation/split/*.csv
/data/processed/*.csv
/data/simulation/*.csv
/data/simulation/split/*.csv